<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<div class="container">
  <ng-lottie width="500px" height="500px"  [options]="game" class="gamestart"></ng-lottie>
    <div class="host">
      <form (ngSubmit)="onHost()">
        <button type="submit" class="button"> <img src="../assets/play.png" alt="done" class="clearImg"> Host </button>
      </form>
      </div>
      <div class="player">
      <form (ngSubmit)="onPlay()">
        <input class="input" [(ngModel)]="hostId" type="text" id="hostId" name="hostId" placeholder="Host ID"><br>
        <div class="buttonPlacement">
        <button type="submit" class="button"> <img src="../assets/play.png" alt="done" class="clearImg"> Play </button>
      </div>
      </form>
    </div>
  </div>

