@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

$clearImgSize: 30px;

h2 {
  top: 187px;
  padding-top: 40px;
  text-align: center;
  font: normal normal bold 40px/46px Ubuntu;
  letter-spacing: 2.8px;
  color: #00e6d4;
  text-shadow: 0px 3px 6px #000000;
  opacity: 1;
}

.players {
  margin-top: 50px;
  margin-left: 150px;
  width: 539px;
  height: 800px;
  background: transparent linear-gradient(150deg, #70707066 0%, #3838382e 100%)
    0% 0% no-repeat padding-box;
  box-shadow: 15px 15px 15px #00000029;
  border: 2px solid #503d3d33;
  border-radius: 10px;
  opacity: 1;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  float: left;
}

.settings {
  margin-top: 50px;
  margin-right: 140px;
  width: 813px;
  height: 797px;
  background: transparent linear-gradient(135deg, #70707066 0%, #3838382e 100%)
    0% 0% no-repeat padding-box;
  box-shadow: 15px 15px 15px #00000029;
  border: 2px solid #503d3d33;
  border-radius: 10px;
  opacity: 1;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  float: right;
}

.playerslist {
  overflow-y: auto;
  overflow-x: hidden;
  width: 539px;
  height: 600px;
}

.card {
  margin-top: 55px;
  margin-left: 36px;
  width: 306px;
  height: 200px;
  background: #ffffffe6 0% 0% no-repeat padding-box;
  border: 5px solid #4bcf89;
  border-radius: 20px;
  opacity: 1;
  margin: auto;
}

.noPlayer {
  width: 61px;
  height: 61px;
  opacity: 0.75;
  margin-left: 7px;
  margin-top: 3px;
}

.empty {
  text-align: left;
  font: normal normal 600 22px/27px Montserrat;
  letter-spacing: 1.56px;
  color: #fffefe;
  opacity: 0.75;
  margin-top: 5px;
}

.back {
  margin-top: 50px;
  margin-left: 40px;
  width: 137px;
  height: 56px;
  background: transparent linear-gradient(150deg, #70707066 0%, #3838382e 100%)
    0% 0% no-repeat padding-box;
  box-shadow: 15px 15px 15px #00000029;
  border: 2px solid #fff;
  border-radius: 10px;
  opacity: 1;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  text-align: center;
  font: normal normal 600 19px/23px Montserrat;
  letter-spacing: 1.35px;
  color: #fffefe;
  opacity: 1;
}

.backbutton {
  float: left;
  margin-left: 40px;
  width: 137px;
  height: 56px;
}

.playerlistitem {
  margin-top: 22px;
  margin-left: 50px;
  padding-top: 3px;
  width: 441px;
  height: 76px;
  background: #ffffff99 0% 0% no-repeat padding-box;
  border: 1px solid #ffffff;
  border-radius: 35px 10px 10px 35px;
  text-align: left;
  font: bold 22px/27px Montserrat;
  letter-spacing: 1.54px;
  color: #000000;
  opacity: 1;
}

.playerimg {
  padding: 10px;
  width: 55px;
  height: 55px;
  opacity: 0.75;
  margin-left: 10px;
  margin-top: 7px;
  border: 3px solid #000000;
  opacity: 1;
  border-radius: 50%;
}

.hostlistitem {
  background: #4bcf89 0% 0% no-repeat padding-box;
  border: 1px solid #ffffff;
  border-radius: 35px 10px 10px 35px;
  opacity: 1;
}

.hostimg {
  padding-top: 15px;
  padding-right: 15px;
  float: right;
  width: 57px;
  height: 57px;
  opacity: 1;
}

.left {
  margin-left: 20px;
  float: left;
  width: 180px;
  height: 0px;
  border: 2px solid #ffffff;
  opacity: 1;
  background-color: white;
}

.right {
  margin-right: 30px;
  float: right;
  width: 180px;
  height: 0px;
  border: 2px solid #ffffff;
  opacity: 1;
  background-color: white;
}

.endtext {
  margin-left: 20px;
  text-align: center;
  font: normal normal 600 18px/22px Montserrat;
  letter-spacing: 1.28px;
  color: #ffffff;
  opacity: 1;
}

.descriptionoutput {
  width: 660px;
  height: 95px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #000000;
  border-radius: 10px;
  opacity: 1;
  padding-top: 25px;
  padding-left: 60px;
  text-align: left;
  font: normal normal 600 32px/39px Montserrat;
  letter-spacing: 2.27px;
  color: #000000;
  opacity: 1;
  margin-bottom: 20px;
  margin-left: 60px;
}

.imgoutput {
  width: 660px;
  height: 420px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #000000;
  border-radius: 10px;
  opacity: 1;
  margin-bottom: 20px;
  margin-left: 60px;
}

.playerindialog {
  margin-left: 10px;
  margin-bottom: 2px;
  text-align: left;
  font: normal normal bold 22px/27px Montserrat;
  letter-spacing: 1.54px;
  color: #ffffff;
  opacity: 1;
}
