<div class='container py-4 main'>
  <span><p class='rounds'>1/5</p>
<h2>HEY! IT'S TIME TO DRAW! </h2></span><br>

<canvas id="canvas" #drawingCanvas width="950px" height="500px"></canvas>
  <div class="colors">
    <div [ngClass]="'small'"
    *ngFor="let item of colors; let i = index"
    [ngStyle]="{backgroundColor: item}"
    (click)="onClick(item)"
    ></div>
</div>
<br>
<div>
  <button (click)="clear()" class="clear"> <img src="../assets/clear.png" alt="clear" class="clearImg"> Clear Canvas </button>
  <button  class="done clear" (click)="next()"> <img src="../assets/play.png" alt="done" class="clearImg"> Done</button>
</div>

</div>


